name: 'Caching Maven + Docker'
description: 'This adds caching mechanism for Maven and Docker'

runs:
  using: "composite"
  steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2
        restore-keys: ${{ runner.os }}-m2
    - uses: docker/setup-buildx-action@v1
    - name: Cache Docker images
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx
        restore-keys: |
          ${{ runner.os }}-buildx